__pycache__/
*.pyc
.venv/
*.log
/results
.idea
/augmentacija
.env


/model_1/raw/
/model_1/augmented/
/model_1/datasets/
/model_1/runs/
/model_1/weights/
/model_1/test/

# all .pt files
*.pt
augmented*